$gradient-blue-to-green: linear-gradient(90deg,  rgba(0, 219, 222, 1) 0%,rgba(252, 0, 255, 1) 100%);
$gradient-pink-to-orange: linear-gradient(90deg, rgba(255, 0, 128, 1) 0%, rgba(255, 140, 0, 1) 100%);
$gradient-purple-to-pink: linear-gradient(90deg, rgba(51, 51, 153, 1) 0%, rgba(255, 0, 204, 1) 100%);
$gradient-blue-to-turquise: linear-gradient(90deg, rgba(30, 218, 171, 1) 0%, rgba(127, 251, 159, 1) 100%);

$color-blue: rgba(30, 218, 171, 1);
$color-dark-blue: #0F0E1E;
$color-blue-transparent-0: rgba(30, 218, 171, 0);
$color-blue-transparent-4: rgba(30, 218, 171, .4);
$color-blue-transparent-8: rgba(30, 218, 171, .8);
$color-turquise: rgba(127, 251, 159, 1);
;
//$gradient-blue-to-light-blue: linear-gradient(90deg, rgba(30,47,218,1) 0%, rgba(127,236,251,1) 100%);
//$gradient-purple-to-pink : linear-gradient(90deg, rgba(105,30,218,1) 0%, rgba(216,127,251,1) 100%);
//$gradient-purple-to-turquise: linear-gradient(90deg, rgba(89,30,218,1) 0%, rgba(127,251,197,1) 100%);
//$gradient-orange-to-pink: linear-gradient(90deg, rgba(218,140,30,1) 0%, rgba(251,127,192,1) 100%);
